<section class="section pt-85 bg-worldmap">
	<div class="container">
		<div class="text-center">
			<img class="mb-15" src="/templates/assets/imgs/template/icons/favicon.svg" alt="transp">
			<h2 class="color-brand-2 mb-20">Nasıl Çalışır</h2>
			<p class="font-md color-grey-700">
				Teslimat yapmak istediğiniz şehirleri seçersiniz. Tüm gönderiler belirli hizmet bölgeleri içinde gerçekleştirilir ve hizmetler lokasyona göre değişiklik gösterebilir. Taşıma yöntemi veya ihtiyaç ne olursa olsun, zamanında teslimat sağlamak için en uygun ekspres taşıma çözümünü bulup organize ediyoruz.
			</p>
		</div>
		<div class="row mt-50">
			<div class="col-lg-6 mb-30">
				<div class="box-image-how">
					<img class="w-100" src="/templates/assets/imgs/page/homepage1/how-it-work.png" alt="transp">
					<div class="box-info-bottom-img">
						<div class="image-play">
							<img class="mb-15" src="assets/imgs/template/icons/play.svg" alt="transp">
						</div>
						<div class="info-play">
							<h4 class="color-white mb-15">
								25 yıllık sektör tecrübesine sahibiz
							</h4>
							<p class="font-sm color-white">
								Lojistik ve taşımacılık alanında uzun yıllara dayanan deneyimimizle müşterilerimize güvenilir hizmet sunuyoruz.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-30">
				<ul class="list-how-works">
					<li>
						<div class="image-how">
							<span class="img">
								<img src="/templates/assets/imgs/page/homepage1/order.png" alt="transp">
							</span>
						</div>
						<div class="info-how">
							<h5 class="color-brand-2">Müşteri sipariş verir</h5>
							<p class="font-md color-grey-700">Ürünlerin kontrolü ve kalite denetimi yapılır</p>
						</div>
					</li>
					<li>
						<div class="image-how">
							<span class="img">
								<img src="/templates/assets/imgs/page/homepage1/payment.png" alt="transp">
							</span>
						</div>
						<div class="info-how">
							<h5 class="color-brand-2">Ödeme başarıyla alınır</h5>
							<p class="font-md color-grey-700">Payoneer, PayPal veya kredi kartı ile ödeme</p>
						</div>
					</li>
					<li>
						<div class="image-how">
							<span class="img">
								<img src="/templates/assets/imgs/page/homepage1/warehouse.png" alt="transp">
							</span>
						</div>
						<div class="info-how">
							<h5 class="color-brand-2">Depo siparişi teslim alır</h5>
							<p class="font-md color-grey-700">Ürünlerin doğruluğu kontrol edilir</p>
						</div>
					</li>
					<li>
						<div class="image-how">
							<span class="img">
								<img src="/templates/assets/imgs/page/homepage1/picked.png" alt="transp">
							</span>
						</div>
						<div class="info-how">
							<h5 class="color-brand-2">Ürün hazırlanır ve sevk edilir</h5>
							<p class="font-md color-grey-700">Yerel taşıyıcıya teslim edilir</p>
						</div>
					</li>
					<li>
						<div class="image-how">
							<span class="img">
								<img src="/templates/assets/imgs/page/homepage1/delivery.png" alt="transp">
							</span>
						</div>
						<div class="info-how">
							<h5 class="color-brand-2">Teslimat tamamlanır ve süreç ölçülür</h5>
							<p class="font-md color-grey-700">Sipariş durumu sistemde güncellenir</p>
						</div>
					</li>

				</ul>

			</div>
		</div>
	</div>
</section>