@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    @await Component.InvokeAsync("AdminLayoutHead")

<body data-menu-color="light" data-sidebar="default">

	<div id="app-layout">

		@await Component.InvokeAsync("AdminLayoutTopBar")

		@await Component.InvokeAsync("AdminLayoutSidebar")

        <div class="content-page">
            <div class="content">

                <div class="container-fluid">

                    <div class="py-4">
                        @RenderBody()
                    </div>

                </div>

            </div>
        </div>

    </div>
	</div>

	@await Component.InvokeAsync("AdminLayoutScript")

	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>