<div class="topbar-custom">
	<div class="container-fluid">
		<div class="d-flex justify-content-between">
			<ul class="list-unstyled topnav-menu mb-0 d-flex align-items-center">
				<li>
					<button class="button-toggle-menu nav-link">
						<i data-feather="menu" class="noti-icon"></i>
					</button>
				</li>
				<li class="d-none d-lg-block">
					<h5 class="mb-0">Hoşgeldin, Admin</h5>
				</li>
			</ul>
		</div>

	</div>

</div>
