<div class="text-center mb-45">
	<h2 class="color-brand-1 mb-15">80 Yılı Aşkın Süredir <br class="d-none d-lg-block">Dünyanın Öncü Şirketlerine Hizmet Veriyoruz.</h2>
	<p class="font-md color-white">İşinizi büyütmek için büyük bir fırsat. Sektör liderleri için sonuç odaklı çözümler sunuyoruz. <br class="d-none d-lg-block">Ekibimizle gurur duyuyor ve her geçen gün daha çok çalışıyoruz.</p>
</div>
<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6 mb-30">
		<div class="cardLeadingCompany">
			<div class="cardImage"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/handover.png" alt="transp"></span></div>
			<div class="cardInfo">
				<h3 class="color-brand-1">+ @ViewBag.v1</h3>
				<p class="font-lg color-white">Güvenle Taşınan Paket</p>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 mb-30">
		<div class="cardLeadingCompany">
			<div class="cardImage"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/cities.png" alt="transp"></span></div>
			<div class="cardInfo">
				<h3 class="color-brand-1">+ @ViewBag.v2</h3>
				<p class="font-lg color-white">Teslim Edilen Gönderi</p>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 mb-30">
		<div class="cardLeadingCompany">
			<div class="cardImage"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/client.png" alt="transp"></span></div>
			<div class="cardInfo">
				<h3 class="color-brand-1">+ @ViewBag.v3</h3>
				<p class="font-lg color-white">Şehir Sayısı</p>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6 mb-30">
		<div class="cardLeadingCompany">
			<div class="cardImage"> <span class="img"> <img src="/templates/assets/imgs/page/homepage1/company.png" alt="transp"></span></div>
			<div class="cardInfo">
				<h3 class="color-brand-1">+ @ViewBag.v4</h3>
				<p class="font-lg color-white">Dağıtımdaki Gönderiler</p>
			</div>
		</div>
	</div>
</div>